*{
   margin: 0;
   padding: 0;
}
.footer-container{
   /* border: 1px solid black; */
   width: 100%;
   height: 350px;
   background-color: rgb(241, 241, 241);
}
.footer-container .footer-detail{
   height: 300px;
   width: 620px;
   /* border: 1px solid palevioletred; */
   padding: 40px 100px 20px 140px;
}
.footer-container .footer-detail p:first-child{
   font-size: 40px;
   font-weight: bolder;
}
.footer-container .footer-detail p:last-child{
   color: rgb(104, 104, 104);
}
.footer-container .footer-option{
   height: 300px;
   width: 750px;
   /* border: 1px solid black; */
}
.footer-container .footer-option table{
   border-collapse: collapse;
   margin: 60px 0 0 120px;
}
.footer-container .footer-option th,td{
   height: 30px;
   width: 190px;
   cursor: pointer;
   color: rgb(104, 104, 104);
}
.footer-container .footer-option td:hover{
   color: tomato;
}
hr{
   background-color: silver;
   width: 1100px;
   margin: 0 auto;
}
.footer-container .rights{
  position: relative;
  left: 140px;
  margin-top: 10px;
  font-size: 15px;
  color: rgb(104, 104, 104);
}
.footer-container .social-icons{
  width: 300px;
  position: relative;
  left: 680px;
  padding: 10px;
}
.footer-container .social-icons div{
   display: inline-flex;
   margin-left: 45px;
   font-size: 20px;
   cursor: pointer;
}
.footer-container .social-icons div:hover{
   color: tomato;
}